<%= simple_form_for @workout do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, :placeholder => 'Name', :input_html => { :class => "input_text" } %>
 <%= f.input :rounds, :placeholder => 'Rounds', :input_html => { :class => "input_text" } %>
  <%= f.input :content,  :placeholder => 'Details of Workout', :input_html => { :class => "input_text_area input_text" } %>
  <%= f.input :workout_type, :collection => Workout::WORKOUT_TYPES, :input_html => { :class => "input_select" } %>
  <br />
  <%= f.button :submit, :class => "submit_button"%>
  <%= link_to 'Cancel', workouts_path, :class => "cancel_button" %>
<% end %>
