<% fb_timeline_meta current_url, workout.name, workout.content %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workout.name %>
</p>

<p>
  <b>Content:</b>
  <%= @workout.content %>
</p>

<p>
  <b>Date:</b>
  <%= @workout.date %>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
