<% fb_timeline_meta current_url, @workout.name, @workout.content %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workout.name %>
</p>

<p>
  <b>Rounds:</b>
  <%= @workout.rounds %>
</p>

<p>
  <b>Workout String:</b>
  <%= workout_string(@workout) %>
</p>



<p>
  <b>Content:</b>
  <%= @workout.content %>
</p>

<p>
  <b>Date:</b>
  <%= @workout.date %>
</p>



<p>
<table>
  <tr>
    <th>Workout</th>
    <th>Fundamental</th>
    <th>Count</th>
    <th>Weight</th>
    <th>Distance</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workout.workout_fundamentals.each do |workout_fundamental| %>
  <tr>
    <td><%= workout_fundamental.workout.try(:name) %></td>
    <td><%= Fundamental.find(workout_fundamental.fundamental_id).try(:name) %></td>
    <td><%= workout_fundamental.count %></td>
    <td><%= workout_fundamental.weight %></td>
    <td><%= workout_fundamental.distance %></td>

    <td><%= link_to 'Show', workout_fundamental %></td>
    <td><%= link_to 'Edit', edit_workout_fundamental_path(workout_fundamental) %></td>
    <td><%= link_to 'Destroy', workout_fundamental, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workout fundamental', new_workout_fundamental_path %>

</p>

<p>
 <div id="fb-root"></div>
 <script src="http://connect.facebook.net/en_US/all.js"></script>
 <script>
      FB.init({ 
          appId:'150346335059375', cookie:true, 
          status:true, xfbml:true, oauth:true
      });
      </script>
 <script type="text/javascript">
 function postCook()
 {
     FB.api('/me/mproll-crossfit:log' + 
                 '&workout=<%=current_url%>','post',
                 function(response) {
	console.log(response)
         if (!response || response.error) {
                 alert('Error occured');
         } else {
             alert('Post was successful! Action ID: ' + response.id);
             }
     });
 }
 </script>
	<form>
     <input type="button" value="Log this Exercise on FB" onclick="postCook()" />
 </form>	
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
