<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @box.name %>
</p>

<p>
  <b>Url:</b>
  <%= @box.url %>
</p>


<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
