<%= simple_form_for @workout_record do |f| %>
  <% if @workout_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout_record.errors.count, "error") %> prohibited this workout_record from being saved:</h2>

      <ul>
      <% @workout_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :time, :input_html => { :class => "input_text" } %>
  <%= f.collection_select :workout_id, Workout.all, :id, :name, :input_html => { :class => "input_select" } %>
  <%= f.input :rounds, :as => :integer, :input_html => { :class => "input_text" } %>
  <%= f.input :max_reps, :as => :integer, :input_html => { :class => "input_text" } %>
  <%= f.input :scaled, :as => :boolean %>
  <%= f.input :detail, :input_html => { :class => "input_text_area input_text" } %>

  <br />
  <%= f.button :submit, :class => "submit_button"%>
  <%= link_to 'Cancel', workout_records_path, :class => "cancel_button" %>
<% end %>
