<h1>Listing gyms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gyms.each do |gym| %>
  <tr>
    <td><%= gym.name %></td>
    <td><%= gym.url %></td>
    <td><%= link_to 'Show', gym %></td>
    <td><%= link_to 'Edit', edit_gym_path(gym) %></td>
    <td><%= link_to 'Destroy', gym, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gym', new_gym_path %>
