<!DOCTYPE html>
<html>
<head>
  <title>CrossfitTracker</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Facebook timeline meta start -->
  <%= yield :fb_timeline_meta %>
  <!-- Facebook timeline meta end -->
</head>
<body>
  <div class="header">
  </div>

  <div class="middle">
    <div class="wrapper">
      <div id="top_menu">
        <ul class="top_menu_bar">
          <li class="top_menu_cell top_menu_box">
            <% unless user_signed_in? %>
              <%= link_to "Log in", new_user_session_path %>
            <% else %>
              <%= "Welcome, #{current_user.email}" %> | <%= link_to "Log out", destroy_user_session_path, :method => 'delete' %>
            <% end %>
          </li>
      </div>

      <div class="content">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
